.navbar{
    background-color: #c30303;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.cart {
    height:50px;
    margin: 40px;
}
.logo{
    height: 90px;
}
body{
    background-color: #e2e2e2;
}
